body {
    background-color: #d5fcf4;
    color: #001700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: #001700;
}

.title {
    text-align: center;
}
.titles {
    font-weight: bolder;
}

.divAM {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe {
    text-align: center;
    border: solid #001700 1px;
    height: 40%;
    width: 50%;
    margin: auto;
    padding: 20px;
}

.pdf-title:hover {
    cursor: pointer;
}

.pdf-container {
    text-align: center;
    margin: 20px auto;
    height: 100%;
}

.pdf-container embed {
    width: 100%;
    height: auto;
    max-width: 800px;
    max-height: 490px;
}

@media (max-width: 768px) {
    .pdf-container embed {
        width: 100%;
        height: 1000px;
    }
}

@media (max-width: 480px) {
    .pdf-container embed {
        width: 100%;
        height: 800px;
    }
}

.linkContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.linkBlock {
    flex: 1 1 calc(25% - 20px);
    max-width: 200px;
    min-width: 200px;
    height: 200px;
    background: black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .linkBlock {
        flex: 1 1 calc(50% - 20px);
        height: 300px;
    }
}

@media (max-width: 480px) {
    .linkBlock {
        flex: 1 1 100%;
        height: 200px;
    }
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.nav-links a {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.nav-links a::after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links a:hover::after{
    transform: scaleX(1);
  transform-origin: bottom left;
}

.project-table {
    width: 80%;
}

.project-table th, .project-table td {
    padding: 2%;
    text-align: left;
    vertical-align: top;
}

.project-table embed, .project-table iframe {
    display: block;
    margin: 0 auto;
}

.video {
    width: 100%;
    height: auto;
    max-height: 600px;
}

@media (min-width: 1024px) {
    .video {
        height: 700px;
        width: auto;
    }
}
